.main {
  display: flex;
  gap: 68px;
  flex: 1;
  margin-bottom: 20px;
  width: 100%;
}

.formWrap {
  position: relative;
  width: 100%;
  max-width: 400px;
  min-width: 280px;
  z-index: 1;
  padding-bottom: 60px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 20px;
}

.image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 500px;
  z-index: 0;
  pointer-events: none;
}

.listWrap {
  width: 100%;
}

.textWrap {
  width: 100%;
  margin: auto 0;
  font-size: 32px;
  text-align: center;
  color: var(--title-color);
}

.text {
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .title {
    font-size: 32px;
  }
  .image {
    width: 430px;
  }
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    overflow: hidden;
    gap: 20px;
  }

  .formWrap,
  .listWrap {
    max-width: 100%;
    padding: 0;
  }

  .title,
  .textWrap {
    font-size: 28px;
  }

  .image {
    display: none;
  }
}

@media (max-width: 480px) {
  .formWrap {
    min-width: unset;
  }
  .title,
  .textWrap {
    font-size: 24px;
  }
}
